nav
{
    
    background-color:antiquewhite;
    width: auto;
    height: 130px;
}
.Imao
{
    margin-top: 20px;
    margin-left: 20px;
    width: 170px;
    margin-right: 20px;
}
#contenedor {

    position: absolute;
    top: 65px;
    left: 250px;
    width:600px;
    font-family:Arial, Helvetica, sans-serif;
    list-style:none;
    display: inline-flex;
}

li {
    margin-left: 30px;
    font-size: 17px;
   
    
}
a {
    text-decoration: none;
    color: red;
}
#uno , #dos  {
   
    display: inline-flex;
    border-style: inset;
    margin-left: 5%;
   margin-top: 5%;
   border-color: cornsilk;
  
}

#uno {
    background-color: rgb(196, 255, 209);
    width: 40%;
    height: 70%;

}

#dos {
    background-color: rgb(196, 255, 199);
    width: 40%;
    height: 70%;
}


#tres, #cuatro {
    display: inline-flex;
    border-style: inset;
    margin-left: 5%;
    margin-top: 5%;

}



#cinco , #seis {
   
    display: inline-flex;
    border-style: inset;
    margin-left: 5%;
    margin-top: 5%;
    
  
    
}




.card-text
{
    color: rgb(223, 57, 27);
}


#imagen2 {
    margin-left: 10%;
}
#imagen1 {
    margin-left: 25%;
    height: 60%;
}

#linea {
    font-size: 16px;
    
   
}