nav
{
    
    background-color: white;
    width: auto;
    height: 130px;
}
.Imao
{
    margin-top: 20px;
    margin-left: 20px;
    width: 170px;
    margin-right: 20px;
}
div {
    background-color:white; 
    position: absolute;
    top: 65px;
    left: 250px;
    width:600px;
    font-family:Arial, Helvetica, sans-serif;
    list-style:none;
    display: inline-flex;
}

li {
    margin-left: 30px;
    font-size: 17px;
   
    
}
a {
    text-decoration: none;
    color: red;
}
tbody {
    font-size: 90%;
    font-style: italic;
  }

  tfoot {
    font-weight: bold;
  }