nav
{
    
    background-color:antiquewhite;
    width: auto;
    height: 130px;
}
.Imao
{
    margin-top: 20px;
    margin-left: 20px;
    width: 170px;
    margin-right: 20px;
}
#contenedor {

    position: absolute;
    top: 65px;
    left: 250px;
    width:600px;
    font-family:Arial, Helvetica, sans-serif;
    list-style:none;
    display: inline-flex;
}

li {
    margin-left: 30px;
    font-size: 17px;
   
    
}
a {
    text-decoration: none;
    color: red;
}
#uno , #dos  {
   
    display: inline-flex;
    border-style: inset;
    margin-left: 5%;
   margin-top: 5%;
   border-color: cornsilk;
  
}

#uno, #dos, #tres, #cuatro, #cinco, #seis {
    background-color: rgb(196, 255, 209);
    width: 40%;
    height: 70%;

}



#tres, #cuatro {
    display: inline-flex;
    border-style: inset;
    margin-left: 5%;
    margin-top: 5%;

}



#cinco , #seis {
   
    display: inline-flex;
    border-style: inset;
    margin-left: 5%;
    margin-top: 5%;
    
  
    
}




.card-text
{
    color: rgb(223, 57, 27);
}


#imagen2 {
    margin-left: 10%;
    height: 30%;
    width: 40%;
    border: 1px solid #e70f0f;
    border-radius: 4px;
    padding: 5px;
}
#imagen1 {
    margin-left: 25%;
    height: 60%;
    width: 45%;
    border: 1px solid #e70f0f;
    border-radius: 4px;
    padding: 5px;
}

#linea {
    font-size: 16px;
    
   
}
#imagen3 {
    margin-left: 10%;
    height: 30%;
    width: 35%;
    border: 1px solid #e70f0f;
    border-radius: 4px;
    padding: 5px;
}

#imagen4 {
    margin-left: 10%;
    height: 30%;
    width: 56%;
    border: 1px solid #e70f0f;
    border-radius: 4px;
    padding: 5px;
}

#imagen5 {
    margin-left: 10%;
    height: 30%;
    width: 48%;
    border: 1px solid #e70f0f;
    border-radius: 4px;
    padding: 5px;
}

#imagen6 {
    margin-left: 10%;
    height: 30%;
    width: 38%;
    border: 1px solid #e70f0f;
    border-radius: 4px;
    padding: 5px;
}